nav {
  font-size: 35px;
  border-bottom: 1px black solid;
  height: 180px;
  background-color: rgba(235, 235, 235, 0.993);
}

.name {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: row;
  background-color: rgba(235, 235, 235, 0.993);
}

.newPath {
  display: flex;
  justify-content: center;
}
