.sideBar2 {
  width: 19%;
  border-right: rgb(77, 77, 77) 1px solid;
  height: 100vh;
  margin: 0px;
  display: flex;
  justify-content: start;
  flex-direction: column;
}

.sideBar2 h3 {
  font-size: 30px;
}

a {
  color: blue;
  text-decoration: none; /* no underline */
}

a:hover {
  color: black;
}
