h3{
    margin: 0px;
}

.lastModified{
    padding-top: 22px;
}

.noteContents{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 5px;
    width: 80%;
    height: 70px;
    border: 1px black solid;
    background-color: rgba(78, 255, 211, 0.349);
}

h2{
    margin: 0;
}

h3{
    padding: 10px;
    width:80%;
}